<%= form_with model: [:admin, product], local: true do |form| %>
  <div class="field">
    <%= form.label :images, '商品圖片', class: 'lable' %>
    <div class="control">
      <%= form.file_field :images, multiple: true %>
    </div>
    <% if product.images.attached? %>
      <% product.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :name, '商品名稱', class: 'lable' %>
    <div class="control">
      <%= form.text_field :name, placeholder: '請輸入商品名稱', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :original_price, '商品原價', class: 'lable' %>
    <div class="control">
      <%= form.number_field :original_price, placeholder: '請輸入商品原價', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :sell_price, '商品售價', class: 'lable' %>
    <div class="control">
      <%= form.number_field :sell_price, placeholder: '請輸入商品售價', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :desc, '商品描述', class: 'lable' %>
    <div class="control">
      <%= form.text_area :desc, placeholder: '請輸入商品描述', class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :state, '商品狀態', class: 'label' %>
    <div class="control">
      <div class="select">
        <%= form.select :state, [['上架', 'on_sale'], ['下架', 'discontinued'], ['進貨中', 'restock']] %>
      </div>
    </div>
  </div>

  <h3 class="title is-5">商品庫存</h3>
  <%= form.fields_for :skus do |sku_form| %>
    <%= render 'sku_fields', form: sku_form %>
  <% end %>

  <%= form.hidden_field :manager_id, value: current_manager.id %>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit '送出', class: 'button is-link' %>
    </div>
    <div class="control">
      <%= link_to '返回商品列表', admin_products_path, class: 'button is-link is-light' %>
    </div>
  </div>
<% end %>
