<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image">
        <% @product.images.each do |image| %>
          <div class="column">
            <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
          </div>
        <% end %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h1 class="title"><%= @product.name %></h1>
        <h3>定價：<%= number_to_currency(@product.original_price, precision: 0) %></h3>
        <h3>特價：<%= number_to_currency(@product.sell_price, precision: 0) %></h3>

        <ul>
          <% @product.skus.each do |sku| %>
            <li>規格：<%= sku.spec %> 數量：<%= sku.quantity %></li>
          <% end %>
        </ul>

        <h3>描述</h3>
        <div>
          <%= @product.desc.html_safe %>
        </div>
      </div>
    </div>
  </article>
</div>
